<div style="border-top: solid 5px #2873f0; background-color: #f0f0fd;margin-top: 20px; padding: 20px 50px">
    <div style="color: #2872ef;font-size: 25px;font-weight: bold">Hello {{to_name}},</div>
    <div>
        <p>A contact form has been submitted by the user you will get details below.</p>
        <p>
            Name :- {{from_name}} <br>
            Email :- {{email}} <br>
            Message :- {{text}}
        </p>

        <div>
            <p><strong>Cheers</strong></p>
            <p><strong>By Finisher Team</strong></p>
        </div>
    </div>
</div>