<div style="border-top: solid 5px #2873f0; background-color: #f0f0fd;margin-top: 20px; padding: 20px 50px">
    <div style="color: #2872ef;font-size: 25px;font-weight: bold">Hello {{to_name}},</div>
    <div>
        <p>
            A dispute has been raised with contract <strong>{{title}}</strong> by <strong>{{ender_name}}</strong>
            <br>
            Reason description :- {{reason}}
        </p>

        <div>
            <p><strong>Cheers</strong></p>
            <p><strong>By Finisher Team</strong></p>
        </div>
    </div>
</div>