<div style="border-top: solid 5px #2873f0; background-color: #f0f0fd;margin-top: 20px; padding: 20px 50px">
    <div style="color: #2872ef;font-size: 25px;font-weight: bold">Hello Admin,</div>
    <div>
        <p>New Skill has been added for approval.</p>
        <p>Skill Name :- {{skill_name}}.</p>
        <p>Created By :- {{created_by}}.</p>
        <div>
            <p><strong>Cheers</strong></p>
            <p><strong>By Finisher Team</strong></p>
        </div>
    </div>
</div>