<div style="border-top: solid 5px #2873f0; background-color: #f0f0fd;margin-top: 20px; padding: 20px 50px">
    <div style="color: #2872ef;font-size: 25px;font-weight: bold">Hello {{username}},</div>
    <div>
        <p>To reset password click on below button.</p>
        <p>
            <a href="{{url}}"
                style="color: #ffffff; background-color: #24a0ed ;outline: none;border: none;padding: 10px 20px;font-size: 20px;border-radius: 10px;cursor: pointer">{{button_text}}</a>
        </p>
        <div>
            <p><strong>Cheers</strong></p>
            <p><strong>By Finisher Team</strong></p>
        </div>
    </div>
</div>